<div class="card">
    
    <div class="card-body">
        <h5 class="card-title">Users</h5>

        <div class="row">
            <div class="col">
                <!--The content below is only a placeholder and can be replaced.-->
                <div id="chart">
                    <apx-chart
                    [title]="title"
                    [series]="chartOptions.series"
                    [chart]="chartOptions.chart"
                    [labels]="chartOptions.labels"
                    [responsive]="chartOptions.responsive"
                    ></apx-chart>
                </div>
                <!-- <apx-chart
                    [title]="title"
                    [labels]="labels"
                    [series]="series" 
                    [chart]="chart" 
                ></apx-chart> -->
            </div>
        </div>
    </div>
</div>