<aside id="sidebar" class="sidebar">
  
  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item">
        <a class="nav-link collapsed" href="#">
          <span>MYHEALTHCOP</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#">
          <i class="bi bi-columns-gap"></i>
          <span>Dashboard</span>
        </a>
      </li>

      <li class="nav-heading">USERS</li>
      <hr/>

      <li class="nav-item">
        <a class="nav-link collapsed" href="#">
          <i class="bi bi-people"></i>
          <span>Users</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#">
          <i class="bi bi-wallet2"></i>
          <span>Transactions</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#">
          <i class="bi bi-percent"></i>
          <span>Commissions</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#bookings-nav" data-bs-toggle="collapse" href="#">
            <i class="bi bi-calendar-check"></i><span>Bookings</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="bookings-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
          <li>
            <a href="#">
              <i class="bi bi-circle"></i><span></span>
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#reviews-nav" data-bs-toggle="collapse" href="#">
            <i class="bi bi-person-square"></i><span>Reviews</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="reviews-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
          <li>
            <a href="#">
              <i class="bi bi-circle"></i><span></span>
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#reports-nav" data-bs-toggle="collapse" href="#">
            <i class="bi bi-chat-left"></i><span>Reports</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="reports-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
          <li>
            <a href="#">
              <i class="bi bi-circle"></i><span></span>
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#">
          <i class="bi bi-chat-square-dots"></i>
          <span>Chats</span>
        </a>
      </li>

      <li class="nav-heading">ENTITIES</li>
      <hr/>

      <li class="nav-item">
        <a class="nav-link collapsed" href="#">
          <i class="bi bi-bookmarks"></i>
          <span>Activities</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#">
          <i class="bi bi-clipboard"></i>
          <span>Recipes</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#">
          <i class="bi bi-list-task"></i>
          <span>Ingredients</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#">
          <i class="bi bi-pie-chart"></i>
          <span>Uploads</span>
        </a>
      </li>

      <li class="nav-heading">Profile</li>
      <hr/>

      <li class="nav-item">
        <a class="nav-link collapsed" href="#">
          <i class="bi bi-question-circle"></i>
          <span>Help</span>
        </a>
      </li>
      <li class="nav-item dropdown">

          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-bell"></i>
            <span class="badge bg-primary badge-number">2</span>
          </a>
          <small data-bs-toggle="dropdown" style="cursor: pointer;color:#012970;font-size:15px">Notifications</small>

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
            <li class="dropdown-header">
              You have new notifications
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li class="notification-item">
              <div>
                <h6>Upcoming Events</h6>
                <p>Fitness Day</p>
              </div>
            </li>
          </ul>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link collapsed nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
          <img style="max-width:30px;max-height: 30px;" src="https://images.pexels.com/photos/7116213/pexels-photo-7116213.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Profile" class="rounded-circle">
          <span class="d-none d-md-block dropdown-toggle ps-2">J. Smith</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow p-2">
          <li class="dropdown-header">
            <h6>John Smith</h6>
            <span>Administrator</span>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
        </ul>
      </li>
    </ul>

</aside>