<section class="bookings-cont my-2">
    <div class="pagetitle">
        <h1>Bookings</h1>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="card">
    
                <div class="card-body">
                    <h5 class="card-title">Active Entities</h5>
    
                    <div class="row">
                        <div class="col">
                            <div id="activeEntitiesChart"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="card">
    
                <div class="card-body">
                    <h5 class="card-title">Bookings</h5>
    
                    <div class="row">
                        <div class="col">
                            <div id="bookingsChart"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>