<section class="bookings-cont my-2">
    <div class="pagetitle">
        <h1>Bookings</h1>
    </div>
    <div class="row mb-3">
        <div class="col-md-5">
            <app-active-entities></app-active-entities>
        </div>
        <div class="col-md-7">
            <app-booking></app-booking>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-7">
            <app-top-bookings></app-top-bookings>
        </div>
        <div class="col-md-5">
            <app-sport-categories></app-sport-categories>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <app-sport-places></app-sport-places>
        </div>
        <div class="col-md-6">
            <app-top-professionals></app-top-professionals>
        </div>
    </div>
</section>