<section class="bookings-cont my-2">
    <div class="pagetitle">
        <h1>Bookings</h1>
    </div>
    <div class="row mb-3">
        <div class="col-md-5">
            <div class="card">
    
                <div class="card-body">
                    <h5 class="card-title">Active Entities</h5>
    
                    <div class="row">
                        <div class="col">
                            <div id="activeEntitiesChart"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="card">
    
                <div class="card-body">
                    <h5 class="card-title">Bookings</h5>
    
                    <div class="row">
                        <div class="col">
                            <div id="bookingsChart"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-7">
            <div class="card top-bookings">

                <div class="card-body">
                  <h5 class="card-title">Top Bookings</h5>

                  <table class="table table-borderless datatable">
                    <thead>
                      <tr>
                        <th scope="col">Programs</th>
                        <th scope="col">Bookings</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><a href="#" class="text-primary">At praesentium minu</a></td>
                        <td>64</td>
                      </tr>
                      <tr>
                        <td><a href="#" class="text-primary">Blanditiis dolor omnis similique</a></td>
                        <td>47</td>
                      </tr>
                      <tr>
                        <td><a href="#" class="text-primary">At recusandae consectetur</a></td>
                        <td>147</td>
                      </tr>
                      <tr>
                        <td><a href="#" class="text-primar">Ut voluptatem id earum et</a></td>
                        <td>67</td>
                      </tr>
                      <tr>
                        <td><a href="#" class="text-primary">Sunt similique distinctio</a></td>
                        <td>135</td>
                      </tr>
                    </tbody>
                  </table>

                </div>

              </div>
        </div>
        <div class="col-md-5">
            <div class="card">
    
                <div class="card-body">
                    <h5 class="card-title">Top Sport Categories</h5>
    
                    <div class="row">
                        <div class="col">
                            <div id="topSportCategories"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card top-sport-places">
    
                <div class="card-body">
                  <h5 class="card-title">Top Sport Places</h5>
    
                  <table class="table table-borderless datatable">
                    <thead>
                      <tr>
                        <th scope="col">Sport Places</th>
                        <th scope="col">Entities</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><a href="#" class="text-primary">At praesentium minu</a></td>
                        <td>64</td>
                      </tr>
                      <tr>
                        <td><a href="#" class="text-primary">Blanditiis dolor omnis similique</a></td>
                        <td>47</td>
                      </tr>
                      <tr>
                        <td><a href="#" class="text-primary">At recusandae consectetur</a></td>
                        <td>147</td>
                      </tr>
                      <tr>
                        <td><a href="#" class="text-primar">Ut voluptatem id earum et</a></td>
                        <td>67</td>
                      </tr>
                      <tr>
                        <td><a href="#" class="text-primary">Sunt similique distinctio</a></td>
                        <td>135</td>
                      </tr>
                    </tbody>
                  </table>
    
                </div>
    
              </div>
        </div>
        <div class="col-md-6">
            <div class="card top-sport-places">
    
                <div class="card-body">
                  <h5 class="card-title">Top Professionals</h5>
    
                  <table class="table table-borderless datatable">
                    <thead>
                      <tr>
                        <th scope="col">Nutrition Specialist</th>
                        <th scope="col">Bookings</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><a href="#" class="text-primary">At praesentium minu</a></td>
                        <td>64</td>
                      </tr>
                      <tr>
                        <td><a href="#" class="text-primary">Blanditiis dolor omnis similique</a></td>
                        <td>47</td>
                      </tr>
                      <tr>
                        <td><a href="#" class="text-primary">At recusandae consectetur</a></td>
                        <td>147</td>
                      </tr>
                      <tr>
                        <td><a href="#" class="text-primar">Ut voluptatem id earum et</a></td>
                        <td>67</td>
                      </tr>
                      <tr>
                        <td><a href="#" class="text-primary">Sunt similique distinctio</a></td>
                        <td>135</td>
                      </tr>
                    </tbody>
                  </table>
    
                </div>
    
              </div>
        </div>
    </div>
</section>