
<app-aside></app-aside>

<main id="main" class="main">
  <div class="toggle-sidebar-div">
    <i class="bi bi-list toggle-sidebar-btn"></i>
  </div>

  <div class="pagetitle">
    <div>
      <h1>Dashboard</h1>
    </div>
    <div>
      <div class="btn btn-info"><small class="text-light">CREATE REPORT</small></div>
    </div>
  </div>

  <section class="section dashboard">
    <app-statistics></app-statistics>
    <app-user-management></app-user-management>
    <app-bookings></app-bookings>
    <app-finances></app-finances>
    <app-traffic></app-traffic>
  </section>
</main>