<section class="user-manage-cont my-2">
    <div class="pagetitle">
        <h1>User Management</h1>
    </div>
    <div class="row mb-3">
        <div class="col-md-6">
            <app-users></app-users>
        </div>
        <div class="col-md-6">
            <div class="card">
    
                <div class="card-body">
                    <h5 class="card-title">Users Location</h5>
    
                        <app-map></app-map>
                        
                </div>
    
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <app-registered-users></app-registered-users>
        </div>
        <div class="col-md-5">
            <app-demography></app-demography>
        </div>
    </div>
</section>